<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://user-function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8fa72c8b-a8c9-48f2-ae23-5efaa8172c91/resourceGroups/tallerdeproyectos/providers/Microsoft.Web/sites/User-Function</ResourceId>
    <UserName>$User-Function</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://user-function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>